body {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table,
th,
td {
  border: 1px solid rgb(0, 0, 0);
  text-align: left;
}
tr:nth-child(even) {
  background-color: rgb(151, 162, 211);
  color: black;
}
th {
  background-color: rgba(158, 191, 235, 0.925);
  color: white;
}
th,
td {
  padding: 15px;
}
